button {
  background: #4b3832;
  margin: 1em;
  padding: 0.5em;
  border: 0.25em solid #be9b7b;
  border-radius: 1em;
  width: 10em;
  color: #fff4e6;
  font-size: 1em;
}
div {
  white-space: pre-wrap;
}

.TaskList {
  text-align: center;
}

.task_list_message {
  color: #4b3832;
}

.task_list_header {
  margin: 1em;
  padding: 0.5em;
  border: 0.25em solid #fff4e6;
  border-radius: 1em;
  background: #854442;
}
