button {
  background: darkgreen;
  margin: 1em;
  padding: 0.5em;
  border: 0.33em ridge darkgrey;
  border-radius: 1em;
  width: 10em;
  color: white;
  font-size: 1em;
}
div {
  white-space: pre-wrap;
}

.TaskList {
  text-align: center;
}

.task_list_header {
  margin: 1em;
  padding: 0.5em;
  border: 0.5em solid darkgreen;
  border-radius: 4em;
}
